---
import { t } from '../utils/i18n';
const { talents, locale } = Astro.props;

type TalentItem = {
  name: string;
  note?: string;
  noteId?: string;
};

type TalentPriority = {
  items: TalentItem[];
};
---

<div class="card">
  <h2>{t(locale, 'ui', 'Talents')}</h2>

  {
    talents.talents.map((talent: TalentPriority, i: number) => (
      <div style="margin-bottom: 10px;">
        <div>
          <strong>{i + 1}.</strong>{' '}
          <span>
            {talent.items.map((item, itemIndex) => (
              <>
                {itemIndex > 0 && ' = '}
                {item.name}
                {item.noteId ? (
                  <a class="note-link" href={`#${item.noteId}`}>
                    *
                  </a>
                ) : item.note ? (
                  '*'
                ) : (
                  ''
                )}
              </>
            ))}
          </span>
        </div>
      </div>
    ))
  }
</div>
