---
import { t } from '../utils/i18n';
const { talents, locale } = Astro.props;

type TalentItem = {
  name: string;
  note?: string;
  noteId?: string;
};

type TalentPriority = {
  items: TalentItem[];
  approx?: boolean;
};
---

<div class="card">
  <h2>{t(locale, 'ui', 'Talents')}</h2>

  {
    talents.talents.map((talent: TalentPriority, i: number) => (
      <div style="margin-bottom: 10px;">
        <div>
          <strong class="accent-text">{i + 1}.</strong>{' '}
          <span>
            {(talent.approx ? talent.items.slice(0, 1) : talent.items).map(
              (item, itemIndex) => (
                <>
                  {itemIndex > 0 && ' = '}
                  {item.name}
                  {item.noteId ? (
                    <a class="note-link" href={`#${item.noteId}`}>
                      *
                    </a>
                  ) : item.note ? (
                    '*'
                  ) : (
                    ''
                  )}
                </>
              ),
            )}
          </span>
        </div>

        {talent.approx &&
          talent.items.slice(1).map((item) => (
            <div class="alt">
              &asymp; {item.name}
              {item.noteId ? (
                <a class="note-link" href={`#${item.noteId}`}>
                  *
                </a>
              ) : item.note ? (
                '*'
              ) : (
                ''
              )}
            </div>
          ))}
      </div>
    ))
  }
</div>
